<p id="notice"><%= notice %></p>

<h1>Listing Mixins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mixins.each do |mixin| %>
      <tr>
        <td><%= mixin.name %></td>
        <td><%= mixin.amount %></td>
        <td><%= link_to 'Show', mixin %></td>
        <td><%= link_to 'Edit', edit_mixin_path(mixin) %></td>
        <td><%= link_to 'Destroy', mixin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mixin', new_mixin_path %>
